# 🇬🇧 Ignoring the Go build artifacts
*.o
*.a
_obj/
_test/
_testmain.go
*.test
*.prof

# 🇬🇧 Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# 🇬🇧 Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.coverprofile
*.out
coverage.*
profile.cov

# 🇬🇧 Ignoring the dependency folders
vendor/

# 🇬🇧 Go workspace file
go.work
go.work.sum

# 🇬🇧 env file
.env

# 🇬🇧 Debug files
*.log

# 🇬🇧 Ignoring the temporary files from the user instructions
compare-*
Explain*.md
GEM*.md
